<div class="container">
<h1>Project Synopsis</h1>

<p>Team Vocab is creating an advanced teaching system for students taking English as a second language. This system creates easy-to-use modules that will test students on a weekly basis on vocabulary words organized by word roots. This system has a focus on not only teaching students english, but also gathering information on how students are doing on a weekly as well as on a module level to help teachers learn, research, and improve their lessons.</p>

<p>This system will allow teachers to create lessons, gather student results, and customize their courses to their students. Teachers are also able to add or search for words in a global database. They are able to customize lessons, view grades, and view individual student results.</p>

<p>For students, they will be able to learn words and their associated definitions, synonyms, and antonyms in the form of quizzes. Once the students complete a quiz, they will receive instantaneous feedback on their results.</p>
</div>